language: node_js

node_js:
  - "14.9.0"

cache: npm 

install:
  - npm install

script:
  - npm test
  - npm run build 

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master
